* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'lato', sans-serif;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  height: 100px;
  background-color: #ec407a;
}

body {
  background-color: #f06292;
}

.title {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.backButton-container {
  padding: 10px;
  background-color: #ec407a;
}

.category-list {
  display: grid;
  grid-template-columns: 50% 50%;
}

.list {
  width: 100%;
  height: 125px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  border: 0.5px solid #ec407a;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  position: absolute;
  top: 8px;
  right: 5px;
  color: #fff;
}

.fa-xs {
  border-radius: 50%;
  border: 1px solid;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7px;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}

.statistics :nth-child(even) {
  background-color: #ec407a;
}

.data {
  font-size: 15px;
  font-weight: bolder;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ec407a;
}

.fa-lg {
  color: #fff;
}

article {
  color: #fff;
}

.full-name {
  font-size: 20px;
  font-weight: bolder;
  text-align: end;
}

.flex-items {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.team-name {
  width: 100%;
  font-weight: bolder;
  text-align: end;
  color: #fff;
  padding: 10px;
}

.by-team {
  padding: 5px;
  font-weight: bold;
  font-size: 10px;
}

@media (min-width: 450px) {
  body {
    display: none;
  }
}
